.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: capitalize;
    position: relative;
}

.header .container .logo {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .logo a {
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);
}

.header .container .links>ul {
    display: flex;
    align-items: center;
}

.header .container .links>ul>li:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}

/* .header .container .links>ul li {
    position: relative;
} */

.header .container .links>ul>li>a:hover {
    background-color: var(--hover-color);
    color: var(--main-color);
}

.header .container .links>ul>li>a {
    padding: 0 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    overflow: hidden;

}

.header .container .links>ul>li>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);

}

.header .container .links>ul>li>a:hover::before {
    display: block;
    left: 0;
}

/* start mega menu */
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 50px);
    border-bottom: 3px solid var(--main-color);
    z-index: 100;
    background-color: white;
    display: flex;
    gap: 40px;
    transition: top var(--main-transition), opacity var(--main-transition);
    -webkit-transition: top var(--main-transition), opacity var(--main-transition);
    -moz-transition: top var(--main-transition), opacity var(--main-transition);
    -ms-transition: top var(--main-transition), opacity var(--main-transition);
    -o-transition: top var(--main-transition), opacity var(--main-transition);
    z-index: -1;
    opacity: 0;
}

.header .mega-menu img {
    max-width: 100%;
}

.header .mega-menu .mega-links {
    min-width: 250px;

}

.header .mega-menu .mega-links li {
    position: relative;
}

.header .mega-menu .mega-links li:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.header .mega-menu .mega-links:first-of-type li:last-child {
    border-bottom: 1px solid var(--border-color);
}

.header .mega-menu .mega-links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--hover-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: -1;
}

.header .mega-menu .mega-links li:hover:before {
    width: 100%;
}

.header .mega-menu .mega-links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
}

.header .mega-menu .mega-links li a span {
    margin-right: 10px;
}