@media(max-width:767px) {
    .feature .container .box {
        width: calc((100%) - 40px);
    }
}

@media(min-width:768px) {
    .feature .container .box {
        width: calc((100% /2) - 40px);
    }
}

@media (min-width: 1200px) {
    .feature .container .box {
        width: calc((100% / 3) - 40px);
    }
}