@media(max-width:991px) {
   
    .landing .landing-imge {
        display: none;
    }

    .landing .landing-text {
        text-align: center;
    }

    .landing .landing-text p {
        margin: 10px auto;
    }
}

@media(max-width:767px) {
   
    .landing .landing-text h1 {
        font-size: 30px;
    }
    
    .landing .landing-text p {
        margin: 10px auto;
        font-size: 20px;
    }

}