@media(max-width:767px) {
    .teams .container .team-cards .card {
        width: calc((100%) - 80px);
    }
}

@media(min-width:768px) {
    .teams .container .team-cards .card {
        width: calc((100% /2) - 80px);
    }
}

@media (min-width: 1200px) {
    .teams .container .team-cards .card {
        width: calc((100% / 3) - 80px);
    }
}